.furnitureGallery {
  padding-top: 30px;
  &__wrap {
    //background-color: #ffff00;
    //height: 100vh;
    width: 100%;
    //width: calc(100% - 100px);
    //padding-bottom: 13px;
    //border-bottom: 3px solid #ccc;

  }
// ЛЕВАЯ ЧАСТЬ блока furnitureGallery
  &__left {
    &-block {
      //display: flex;
      //flex-direction: column;
      margin-left: -15px;
      margin-right: -15px;
      &-title {
        width: 100%;
        //margin-left: -15px;
        padding-bottom: 10px;
        border-bottom: 3px solid #ccc;
      }
      &-h4 {
        position: relative;
        text-transform: uppercase;
        color: #d58e32;
        font-size: 20px;
        //margin-right: 202px;
        //margin: 60px 202px 13px 0;
        //padding-bottom: 7px;
        //border-bottom: 2px solid #ccc;
        &:after {
          content: '';
          position: absolute;
          bottom: -13px;
          left: 0;
          width: 44px;
          border-bottom: 3px solid #d58e32;
        }
      }

      &-tab {

        display: block;

        //TAB блока furnitureGallery
        .tab {
          margin-top: 27px;
          //max-height: 410px;
          display: block;

          input[name="inp-radio"] {
            display: none;
          }
          &-box-button {
            //font-size: 0;
            display: flex;
          }
          &-item {
            width: 100%;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            //font-weight: 700;
            background-color: #fff;
            padding: 15px 16px;
            border: 1px solid #e2e2e2;
            //display: inline-block;
            cursor: pointer;
            transition: 0.8s;
          }

          .wrapper {
            //height: 100vh;
            display: block;
          }

          .box-article {
            display: flex;
            flex-grow: 1;


            height: 410px;
            background-color: #f4f5f7;
            color: #000;
            padding: 60px;
            border: 1px solid #e2e2e2;
            border-top: 1px solid transparent;


            .box-article-item {
              display: none;
            }
          }
        }
        #tab-item1:checked ~ .wrapper .tab-box-button label[for="tab-item1"],
        #tab-item2:checked ~ .wrapper .tab-box-button label[for="tab-item2"],
        #tab-item3:checked ~ .wrapper .tab-box-button label[for="tab-item3"],
        #tab-item4:checked ~ .wrapper .tab-box-button label[for="tab-item4"] {
          background-color: #f4f5f7;
          color: #d58e32;
          border-bottom: 1px solid transparent;
        }
        #tab-item1:checked ~ .wrapper .box-article .box-article-item:nth-child(1),
        #tab-item2:checked ~ .wrapper .box-article .box-article-item:nth-child(2),
        #tab-item3:checked ~ .wrapper .box-article .box-article-item:nth-child(3),
        #tab-item4:checked ~ .wrapper .box-article .box-article-item:nth-child(4) {
          display: block;
          animation: parag 0.8s;
        }
        @keyframes parag {
          from {
            opacity: 0.5;
          }
          to {
            opacity: 1;
          }
        }
      }
    }
  }
// ПРАВАЯ ЧАСТЬ блока furnitureGallery
  &__right {
    background-color: #e8edf7;
    padding: 65px;
    height: 600px;
    &-title {
      color: #79ae30;
      font-size: 48px;
      font-weight: 700;
      & > span {
        color: #000;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    &-text {
      font-size: 48px;
      color: #d58e32;
      text-transform: capitalize;
      font-weight: 700;
    }
  }


}

