
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
 display: none;
}
body {
  line-height: 1;
  min-width: $min-width;
  //max-width: 1520px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background: $background-bg;
  font-weight: 400;

}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h3 {
  font-size: $font-size-h3;
  color: $color-h3;
  //line-height: $line-height-h3;
}

h4 {
  //font-size: 45px;
  //line-height: 33px;
  color: #000;
}

h5 {
  //font-size: 18px;
  //line-height: 20px;
  //font-weight: 700;
  color: #000;
}

h1, h2, h3, h4 {
  text-transform: none;
}
a {
  text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}

//.transition() {
//  transition: background-color .5s ease;
//}

//.border-radius($radius) {
//  border-radius: $radius;
//}

//button {
//  border-radius: 2px;
//  outline: none;
//  display: inline-block;
//  cursor: pointer;
//  //.transition();
//}

.button {
  background-color: #464646;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 90px;
  //position: center;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  display: inline-block;
  border-radius: 3px;
}

img {
  max-width: 100%;
  height: auto;
}


*{
  box-sizing: border-box;
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
}


//-------------------------
//-----My Personal Grid-----
//--------------------------
/* //-------------------------
//-----My Personal Grid-----
//--------------------------
 */


//
//.container {
//  max-width: 1140px;
//  margin: 0 auto;
//  display: flex;
//  flex-wrap: wrap;
//  width: 100%;
//}
//*{
//  box-sizing: border-box;
//}
//.col-4,.col-3,.col-2,.col-1{
//  border-right: 1px solid #9297a2;
//  border-left: 1px solid #9297a2;
//  width: calc(25% - 2px);
//  z-index: 99;
//  border-color: rgba(146, 151, 161, 0.3);
//}
//.col-3{
//  width: calc(75% - 2px);
//}
//.col-2{
//  width: calc(50% - 4px);
//}
//.col-1{
//  width: calc(100% - 2px);
//}
//@media (max-width: 1650px) {
//  .container{
//    max-width: 1200px;
//  }
//  .col-lt-3{
//    width: calc(75% - 2px);
//  }
//  .col-lt-2{
//    width: calc(50% - 2px);
//  }
//  .col-lt-1{
//    width: calc(100% - 2px);
//  }
//  .col-lt-4{
//    width: calc(25% - 2px);
//  }
//  .header {
//    &_contact {
//      display: flex;
//      justify-content: flex-end;
//      &-data {
//      font-size: 14px;
//      margin-right: 35px;
//      }
//      &-btn {
//        padding: 17px 23px;
//      }
//    }
//  }
//}
//@media (max-width: 1340px) {
//  .container{
//    max-width: 920px;
//  }
//  .col-pl-3{
//    width: calc(75% - 2px);
//  }
//  .col-pl-2{
//    width: calc(50% - 2px);
//  }
//  .col-pl-1{
//    width: calc(100% - 2px);
//  }
//  .col-pl-4{
//    width: calc(25% - 2px);
//  }
//  .order-pl-1{
//    order: 1;
//  }
//  .order-pl-2{
//    order: 2;
//  }
//  .order-pl-3{
//    order: 3;
//  }
//  .order-pl-4{
//    order: 4;
//  }
//}
//@media (max-width: 1000px) {
//  .container{
//    max-width: 780px;
//  }
//  .col-pl-3{
//    width: calc(75% - 2px);
//  }
//  .col-pl-2{
//    width: calc(50% - 2px);
//  }
//  .col-pl-1{
//    width: calc(100% - 2px);
//  }
//  .col-pl-4{
//    width: calc(25% - 2px);
//  }
//}
//@media (max-width: 810px) {
//  .container{
//    max-width: 100%;
//    padding:0 15px;
//    flex-direction: column;
//  }
//  .col-mb-3{
//    width: calc(75% - 2px);
//  }
//  .col-mb-2{
//    width: calc(50% - 2px);
//  }
//  .col-mb-1{
//    width: calc(100% - 2px);
//  }
//  .col-mb-4{
//    width: calc(25% - 2px);
//  }
//}
//.flex-between-centr{
//  justify-content: space-between;
//  align-items: center;
//}
//.z-position {
//  z-index: 4;
//}
//.section{
//   height:100vh;
//  min-height: 800px;
//  -webkit-background-size: cover;
//  background-size: cover;
//  background-position: center;
//}
//.main-height{
//flex-grow: 1;
//}
//.no-right-border {
//  border-right: transparent;
//}
//.no-left-border {
//  border-left: transparent;
//}
